
  {% extends 'base.html' %}
  
  {% block content %}
  <section class="d-flex justify-content-center align-items-center" style="font-family: Roboto, sans-serif;">
    <div class="p-5 shadow-sm" style="background: #ffffff;border-radius: 10px;font-family: system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, &quot;Liberation Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;;">
        <h3 class="text-center">MyAuth</h3>
        <p class="text-center text-black-50 mb-4">Welcome! Enter new password for myauth account</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-2">
                <label class="form-label text-black-50 form-label" for="passwordField" style="font-size: 14px;">PASSWORD</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    {{ form.password1 }}
                    <span class="input-group-text"><i class="far fa-eye"></i></span>
                </div>
            </div>
            <div class="mb-4">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    {{ form.password2 }}                    
                    <span class="input-group-text"><i class="far fa-eye"></i></span>
                </div>
                <small class="text-danger mb-2">{{ form.password2.errors }}</small>
            </div>
            <button class="btn btn-primary mb-3 submit" type="submit">Create password</button>
        </form>
    </div>
</section>
  {% endblock content %}
      
